/*Header*/
*{
    font-family: 'Roboto',sans-serif;
    margin: 0;
}
:root{
    background-color: rgb(238, 236, 236);
}
body{
    height: 1000px;
}
header{
    width: 100%;
    z-index: 2;
    height: 40px;   
    background-color: rgb(139, 4, 139);
}
.purple{
    background-color: white;
    width: 100%;
    height: 7px;
    position: absolute;
    top: 18px;
    z-index: 1;
}
#coroa{
    position: absolute;
    padding-left: 96%;
    font-size: 33px;
z-index: 2;
color: white;
transition: all ease 0.5s;
}
#coroa:hover{
    color: gold;
}
@media only screen and (max-width:600px){  
    #coroa{
        position: absolute;
        padding-left: 83%;
        font-size: 33px;
    z-index: 2;
    color: white;
    transition: all ease 0.5s;
    }
    #coroa:hover{
        color: gold;
    }
}
/*Body*/
.roxo1{
    height: 100px;
    background-color:rgba(158, 11, 158, 0.856);
}
.roxo1-flex{
    display: flex;
    flex-wrap: nowrap;
}
img{ 
z-index: 3;
    height: 250px;
    width: 250px;
    border-radius: 150px;
}
#nome{
    position:relative;
    left: -100px;
flex: 5;
text-align: center;
font-size: 40px;
color: gold;
}
#dev{
    position:relative;
    font-size: 35px;
    bottom: 12px;
    font-family: 'Road Rage', cursive;
    color: white;
letter-spacing: 4px;
}
#nome #sobrenome{color:white}
@media (min-width:300px) and (max-height:815px) and (orientation:portrait){
    :root{
        background-color: rgb(238, 236, 236);
    }
    .roxo1-flex{
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    .roxo1 .roxo1-flex img{
        width: 100%;
    }
    .roxo1{
        height: 251px;
        background-color:rgba(158, 11, 158, 0.856);
        border-radius: 7px;
    }
    #nome #sobrenome{color: black;}
    #nome{
        left: 2%;
    text-align: center;
    font-size:50px;
    color: black;
    }
    #dev{
        position: relative;
        right: 15px;
        color:black;
    }
    .bl{
        margin-bottom: 30px;
        margin-top: 200px;
        display: block;
        transform: translate(-233px,0);
    }
   body{
       height: 2500px;
       width: 100%;
   }
}
@media (max-width:900px){
    .roxo1 .roxo1-flex img{
        height: 130px;
        width: 130px;
    }
    #nome{
        color: gold;
    font-size:40px;
    }
    #dev{
        font-size: 25px;
        color: black;   
    }
    .info{
        position: relative;
        bottom: 160px;
    }
    .bl{
        text-align: center;
        position: relative;
        left: 200px;
    }
}
#linha-blue{
    height: 7px;
    background-color: rgb(9, 9, 134);
}
/*Lateral azual*/
#barra-lateral{
    z-index: 2;
    height: 550px;
    width: 250px;
    background-color: rgb(9, 9, 134);
    border-radius: 70px;
}
h3{color:white;}
#parte-azul1{
    text-align: center;
    display: grid;
    position: relative;
    top: 160px;
    color: white;
}
.cell,#cellphone{
    margin-left: 9px;
}
#cellphone{font-size: 15px; margin-top: 3px;}
#birth{
    margin-top: 3px;
    font-size:15px ;
}
#white-line{
    height: 2px;   
    background-color: white;
    width: 83%;
    position: relative;
    transform: translate(20px,0);
    display: inline-block;
    margin-top: 7px;
    margin-bottom: 10px;
}
#parte-azul2{
    position: relative;
    text-align: center;
    display: grid;
    top: 160px;
    color: white;
}
#software{
    margin-left: 1px;
}
.titulosmain{
    color: black;
}
#container-main{
    margin-top: 15px;
    gap:0px 8px ;
}
.bl{
    margin-left: 40px;
    letter-spacing: 2px;
    text-align: center;
}